.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
}

.border {
  margin-top: 40px;
  width: 414px;
  border: 1px solid #DCDDDD;
}